<div class="well" style="text-align:center">
  <h2>BRAND</h2>
  <br>
  <ul style="list-style: none;">
    <% @brands.each do |brand| %>
      <li class="inline-practice" color="black"><a href="/brand/<%= brand.id() %>"><%= brand.title %></a> $<%= brand.price %>
        <form class="inline-practice" action="/brand/<%= brand.id  %>" method="post" >
          <input name="_method" type="hidden" value="delete">
          <input name="delete_brand" type="hidden" value="<%= brand.id %>">
          <button type="submit" class="btn btn-danger btn-xs">X</button>
        </form>
      </li>
      <br>
      <br>
    <% end %>
  </ul>

  <br>
  <form action="/brand" method="post">
      <input type="text" name="title" placeholder="ADD BRAND">
      <br>
      <br>
      <input type="text" name="price" placeholder="ADD PRICE">
      <br>
      <br>
      <button type="submit" class="btn btn-success">ADD</button>
  </form>
</div>
